absl-py
jsonschema~=4.23.0
numpy<=2.0.2
pyyaml~=6.0.2
#requests~=2.32.3
#mock~=5.1.0
transformers~=5.0.0rc3
sentencepiece~=0.2.1

-r ../data_accessors/requirements.in
-r serving_framework/requirements.in
-r serving_framework/triton/requirements.in