absl-py~=2.2.2
ez-wsi-dicomweb~=6.1.2
google-cloud-core~=2.4.3
google-cloud-logging~=3.12.1
google-cloud-secret-manager~=2.20.2
google-cloud-storage~=3.1.0
immutabledict~=4.2.0
numpy<=2.0.2
opencv-python-headless~=4.11.0.86
openslide-python~=1.4.2
pillow~=11.2.1
pydicom~=3.0.1
openslide-bin~=4.0.0.8
pydicom~=3.0.1
pypng~=0.20220715.0
redis~=6.0.0
requests~=2.33.0
requests-mock~=1.9.3